/* Prevent horizontal scrolling */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling if necessary */
  width: 100%;
  height: 100%;
}

/* Modal Styles */
.api-modal {
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 10px;
  max-width: 100%; /* Ensure modal does not exceed the screen width */
}

.modal-buttons {
  color: white;
  display: flex;
  margin-top: 20px;
  gap: 50px; /* Add space between buttons */
}

/* Mobile-specific styles */
@media (max-width: 375px) {
  .api-modal {
    padding: 10px; /* Reduce padding for smaller screens */
    border-radius: 5px; /* Optional: Adjust border-radius for a softer look */
  }

  .modal-buttons {
    color: white;
    flex-direction: column; /* Stack buttons vertically on small screens */
    gap: 20px; /* Reduce gap for smaller screens */
  }

  .form-container {
    display: flex;
    width: 100%; /* Ensure form uses full width */
    flex-direction: column; /* Stack form elements vertically */
    gap: 10px; /* Adjust gap between form elements */
  }

  .form-label {
    font-size: 14px; /* Adjust font size for readability */
  }

  .form-input {
    font-size: 14px; /* Adjust font size for better usability */
    padding: 8px; /* Adjust padding for a better touch target */
    color: black;
  }
  
  #html5-qrcode-button-camera-permission, #html5-qrcode-button-camera-stop, 
  #html5-qrcode-button-camera-start, #html5-qrcode-button-scan-qr {
    font-size: 14px; /* Adjust font size for better usability */
    padding: 8px; /* Adjust padding for a better touch target */
    color: white;
    background-color: black;
  }
  
  .toggle-camera-button {
    font-size: 14px; /* Adjust font size for better usability */
    padding: 8px; /* Adjust padding for a better touch target */
    color: white;
    background-color: black;
  }

  #reader {
    width: 100%; /* Ensure QR reader uses full width */
    height: auto; /* Adjust height automatically */
  }
}

/* Suggestions List */
.suggestions-list {
  max-height: 80px; /* Reduce the height to make the list smaller */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  position: absolute;
  width: 100%; /* Use full width of the parent input */
  z-index: 1000;
  margin-top: 5px; /* Adjust position */
  padding: 0; /* Remove padding */
}

.suggestion-item {
  padding: 8px 12px; /* Adjust padding for better touch targets */
  cursor: pointer;
  font-size: 14px; /* Standardize the font size */
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

/* Container adjustments */
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent container from scrolling */
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}
