/* Login.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px; /* Adjusted for mobile */
  box-sizing: border-box;
}

.form-label {
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  color: #333;
}

.form-input {
  padding: 12px; /* Slightly reduced padding for mobile */
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

.login-button {
  padding: 12px; /* Adjusted padding for mobile */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Mobile-specific styles */
@media (max-width: 375px) {
  .form-container {
    padding: 15px;
  }

  .form-label {
    font-size: 14px;
  }

  .form-input, .login-button {
    font-size: 14px;
    padding: 10px;
  }

  h2 {
    font-size: 20px;
  }
}
