/* Overall container styling */
.container {
  padding: 100px;
  max-width: 600px;
  margin: auto;
  background-color: white; /* Overall background color to white */
}

/* Form container styling */
.form-container {
  margin-bottom: 20px;
}

/* Form label styling */
.form-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px; /* Adjust font size for better readability */
  color: black;
}

/* Form input styling */
.form-input {
  width: 100%;
  padding: 10px; /* Adjust padding for appropriate size */
  font-size: 16px; /* Adjust font size for better readability */
  color: black;
  background-color: white;
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Add border radius */
  margin-bottom: 20px; /* Add margin for spacing */
}

/* Button styling */
.toggle-camera-button {
  width: 100%;
  padding: 10px; /* Adjust padding for appropriate size */
  font-size: 16px; /* Adjust font size for better readability */
  cursor: pointer;
  background-color: white; /* Background color to white */
  color: black; /* Font color to black */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Add border radius */
  margin-bottom: 20px; /* Add some space below the button */
}

/* Button hover effect */
.toggle-camera-button:hover {
  background-color: #f0f0f0; /* Slightly darker background on hover */
}

/* Reader styling */
.reader {
  width: 100%;
}

/* Modal styling */
.api-modal {
  padding: 20px;
  background-color: white;
  color: black;
  border-radius : 10px;
}


  /* Modal buttons styling */
  .modal-buttons {
    display: flex;
    margin-top: 20px;
    gap: 50px; /* Add space between buttons */
  }
